@import url(style.css);
.hidden-img {
  border-radius: 100%;
}
p.des {
  font-size: 22px;
  color: #000000;
  text-align: justify;
  line-height: 1.3;
  font-family: B koodak;
  margin: 0;
}
.des-div {
  padding: 20px;
  width: 550px;
  background-color: #a4a4a4;
  border-radius: 10px;
  display: inline-block;
}
