@import url(style.css);
form {
  border: #000000 solid 1px;
  border-radius: 10px;
  background-color: #808080;
  width: 400px;
  padding: 20px;
  margin: auto;
}
.input {
  padding: 8px;
  margin: 5px 0;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  font-size: 14px;
  min-width:100px ;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.input:focus {
  background-color: #f7f7f7;
}
label {
  font-size: 18px;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.submit-btn {
    margin-top:15px ;
  padding: 10px 40px;
  background-color: aquamarine;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
