body {
  background-color: #fbb400;
  text-align: center;
}/* NavBar */
ul {
  background-color: #808080;
  border-radius: 5px;
  text-align: center;
  width: 40%;
  padding: 0;
  display: inline-block;
}
li a {
  color: #fff;
  padding: 15px;
  display: inline-block;
  font-size: 20px;
}
li a:hover {
  color: aliceblue;
}
ul li {
  display: inline;
}
/* -NavBar */

main {
  direction: rtl;
}
h1 {
  color: #000000;
  font-size: 30px;
  text-align: center;
  font-family: Iransans;
}
a {
  text-decoration: none;
  color: chartreuse;
}
p {
  font-size: 22px;
  color: #fff;
  width: 300px;
  text-align: justify;
  line-height: 1.2;
  font-family: B koodak;
}
hr {
  height: 5px;
  border-radius: 100px;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: #a4a4a4;
  text-decoration: none;
}