body {
  background-color: #fbb400;
  text-align: center;
}
/* NavBar */
ul {
  background-color: #808080;
  border-radius: 5px;
  text-align: center;
  width: 40%;
  padding: 0;
  display: inline-block;
}
li a {
  color: #fff;
  padding: 15px;
  display: inline-block;
  font-size: 20px;
}
li a:hover {
  color: aliceblue;
}
ul li {
  display: inline;
}
/* -NavBar */
h1 {
  color: #000000;
  font-size: 30px;
  font-family: Iransans;
  text-align: center;
}
li {
  color: chartreuse;
  font-size: 20px;
}
a {
  text-decoration: none;
  color: chartreuse;
}
abbr {
  color: aqua;
  font-size: 25px;
}
hr {
  height: 5px;
  border-radius: 100px;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: #a4a4a4;
  text-decoration: none;
}
table {
  color: yellow;
  font-size: 20px;
}
address {
  color: #808080;
  font-size: 18px;
}
.hidden-img {
  border-radius: 1000px;
}
video {
  border-radius: 10px;
  width: 400px;
}
.zznaghe-cover {
  border-radius: 500px;
}
ol {
  list-style-position: inside;
  line-height: 1.5;
}
p.des {
  font-size: 22px;
  color: #000000;
  text-align: justify;
  line-height: 1.3;
  font-family: B koodak;
  margin: 0;
}
.des-div {
  padding: 20px;
  width: 550px;
  background-color: #a4a4a4;
  border-radius: 10px;
  display: inline-block;
}
