body{
    background-color: black;
    text-align: center;
}
/* NavBar */
ul{
    background-color: teal;
    border-radius: 5px;
    margin: 0;
    padding-left: 20px;
}
li a{
    color: aquamarine;
    padding: 15px;
    display: inline-block;
    font-size: 20px;
}
li a:hover{
    color: aliceblue;
}
ul li{
    display: inline;
}
/* NavBar */
h1{
    color: white;
    font-size: 30px;
    font-family: Iransans;
    text-align: center;
}
li{
    color: chartreuse;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: chartreuse;
}
abbr{
    color: aqua;
    font-size: 25px;
}
table{
    color: yellow;
    font-size: 20px;
}
p{
    font-size: 22px;
    color: aquamarine;
    width: 300px;
    text-align: justify;
    line-height: 1.2;
    font-family: B koodak;
}
address{
    color: violet;
    font-size: 18px;
}
.hidden-img{
    border-radius: 1000px;
}
video{
    border-radius: 10px;
    width: 400px;
}
.zznaghe-cover{
    border-radius: 30px;
}
ol{
    list-style-position: inside;
    line-height: 1.5;
  }