/* @iliymans */

/* General Setting */
@import url(/font/style.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: IRANSans-web;
  user-select: none;
}
body {
  direction: rtl;
}

/* Header */
header {
  height: 400px;
  background-color: #9acd32;
  margin-bottom: 50px;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
header .container .header-section {
  display: flex;
  justify-content: space-around;
}
header .container .right-header {
  align-self: center;
  flex-basis: 50%;
}
header .container .header-section .right-header h1 {
  font-family: IRANSans-web-Bold;
  line-height: 1.2;
  margin-bottom: 20px;
  font-size: 26px;
}
header .container .header-section .right-header p {
  text-align: justify;
  font-family: IRANSans-web;
  font-size: 14px;
  margin-bottom: 15px;
  color: #333;
  line-height: 21px;
}
header .container .header-section .right-header button {
  cursor: pointer;
  padding: 8px 15px;
  font-size: 12px;
  border-radius: 4px;
  outline: none;
  border: none;
  background-color: rgb(49, 71, 5);
  color: white;
}
header .container .header-section .right-header button:hover {
  opacity: 0.9;
}
header .container .header-section .left-header img {
  align-self: center;
  width: 500px;
  padding-top: 5px;
}

/* Content */
main {
  display: flex;
  flex-wrap: wrap;
}
main .product {
  flex-basis: 25%;
  border: 1px solid #dfdfdf;
  padding: 10px;
}

main .product img {
  width: 100%;
  margin-bottom: 10px;
}
main .product h5 {
  font-family: IRANSans-web-Light;
  margin-bottom: 10px;
  height: 40px;
}
main .product p {
  font-size: 12px;
  margin-bottom: 15px;
  color: red;
}
main .product span {
  font-family: IRANSans-web-Bold;
  float: left;
}
main .product i {
  cursor: pointer;
}

/* Footer */
footer {
  margin-top: 50px;
}
footer p {
  background-color: #333;
  text-align: center;
  color: yellowgreen;
  padding: 10px 0px;
}
