@import url();
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: IRANSans-web;
}
body {
  background-color: rgb(227, 230, 235);
}
a {
  text-decoration: none;
}
img , i {
  user-select: none;
}
div h1::selection{
  background: white;
  color: #0084ff;
}
a::selection{
  background: white;
  color: #0084ff;
}
a h1::selection{
  background: white;
  color: #333;
}
/* Header */
header {
  width: 100%;
  background-color: #0084ff;
  padding: 15px;
}
header .header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
header .header .logo {
  border-radius: 100%;
  opacity: 0.7;
}
header .header:hover .logo{
  opacity: 1;
}
header .header h1 {
  color: white;
  position: relative;
  bottom: 50px;
  margin-left: 5px;
  display: inline;
  font-family: "Times New Roman", Times, serif;
}
header nav {
  margin-top: 10px;
}
header nav ul li {
  display: inline;
}
a {
  padding: 10px 25px;
  color: white;
  display: inline-block;
  font-size: 20px;
  background: linear-gradient(currentColor 0 0) 100% 100% / var(--d, 0) 3px
    no-repeat;
  transition: 0.3s;
}
nav ul li a:hover {
  --d: 100%;
}
.links {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.links a {
  width: 80px;
  margin: 10px;
  margin-top: 20px;
  text-align: center;
  padding: 10px 5px;
  border-radius: 10px;
  background: #0084ff;
  box-shadow: -5px 5px 16px #0062bd, 5px -5px 16px #00a6ff;
  transition: 0.3s;
}
.links a i {
  color: white;
  font-size: 50px;
  text-align: center;
}
.links a:hover {
  box-shadow: none;
  background-color: white;
}
.links a:hover i {
  color: #0070d9;
}

/* Content */
main{
  max-width: 1200px;
  margin: auto;
}
section {
  text-align: center;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}
section .projects {
  padding: 0;
  border-radius: 3px;
  background-color: #333;
  color: white;
  transition: 0.25s;
  margin: 8px;
}
section .projects h1 {
  padding: 10px 0;
}
section .projects:hover {
  background-color: rgb(75, 75, 75);
}


@media only screen and (max-width:1020px){
  a{
    font-size: 18px;
    padding: 10px 20px;
  }
  h1{
    font-size: 24px;
  }
  header .header .logo {
    margin-left: 35px;
  }
  header .header h1 {
    bottom: 0;
    display: block;
  }
}
@media only screen and (max-width:750px){
  section{
    width: 100%;
  }
  section a{
    width: 300px;
  }
  section a img{
    width: 100%;
    height: auto;
  }
}
@media only screen and (max-width:558px){
  header nav ul li{
    display: block;
  }
  header nav{
    width: 100%;
    text-align: center;
  }
}