@font-face {
  font-family: "IRANSansBold";
  src: url("IRANSans-Bold-web.eot");
  src: url("IRANSans-Bold-web.eot?#iefix") format("embedded-opentype"),
    url("IRANSans-Bold-web.woff2") format("woff2");
  src: url("IRANSans-Bold-web.ttf") format("truetype"),
    url("IRANSans-Bold-web.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "IRANSansMedium";
  src: url("IRANSans-Medium-web.eot");
  src: url("IRANSans-Medium-web.eot?#iefix") format("embedded-opentype"),
    url("IRANSans-Medium-web.woff2") format("woff2");
  src: url("IRANSans-Medium-web.ttf") format("truetype"),
    url("IRANSans-Medium-web.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "IRANSansLight";
  src: url("IRANSans-Light-web.eot");
  src: url("IRANSans-Light-web.eot?#iefix") format("embedded-opentype"),
    url("IRANSans-Light-web.woff2") format("woff2");
  src: url("IRANSans-Light-web.ttf") format("truetype"),
    url("IRANSans-Light-web.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "IRANSansUltraLight";
  src: url("IRANSans-UltraLight-web.eot");
  src: url("IRANSans-UltraLight-web.eot?#iefix") format("embedded-opentype"),
    url("IRANSans-UltraLight-web.woff2") format("woff2");
  src: url("IRANSans-UltraLight-web.ttf") format("truetype"),
    url("IRANSans-UltraLight-web.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "IRANSans";
  src: url("IRANSans-web.eot");
  src: url("IRANSans-web.eot?#iefix") format("embedded-opentype"),
    url("IRANSans-web.woff2") format("woff2");
  src: url("IRANSans-web.ttf") format("ttf"),
    url("IRANSans-web.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

