* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  direction: rtl;
}
header {
  width: 100%;
  background-color: #ccc;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header img {
  border-radius: 100%;
  margin: 2px 0;
}
header nav ul li {
  display: inline;
}
header nav ul li a {
  display: inline-block;
  margin: 8px 10px;
  color: black;
  font-size: 16px;
  font-family: iransans;
  text-decoration: none;
  font-weight: 500;
}

main {
  width: 1100px;
  margin: auto;
}
section{
    margin-bottom: 20px;
}
main .one {
  display: flex;
  justify-content: space-between;
}
main .one #content {
  flex-basis: 75%;
  margin: 5px;
  background-color: blue;
  border-radius: 8px;
  color: white;
  padding: 15px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
main .one #sidebar {
  flex-basis: 25%;
  margin: 5px;
  background-color: green;
  border-radius: 8px;
  color: white;
  padding: 15px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

main .two {
  display: flex;
  flex-direction: column;
  height: 350px;
  flex-wrap: wrap;
  justify-content: space-between;
}
main .two .content{
    background-color: red;
    border-radius: 8px;
    width: 68%;
    flex-basis: 100%;
    color: white;
    padding: 15px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
main .two .side{
    border-radius: 8px;
    width: 30%;
    flex-basis: 30%;
    background-color: green;
    color: white;
    padding: 15px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

footer{
    background-color: gray;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
}
footer article{
    flex-basis: 25%;
    margin: 5px;
    height: 40px;
    background-color: #333;
    border-radius: 5px;
    color: white;
    text-align: right;
    padding: 15px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}


@media only screen and (max-width:1100px){
  main{
    width: 100%;
  }
  main .one{
    flex-direction: column;
  }
  footer{
    flex-direction: column;
  }
  footer article{
    width: 90%;
  }
}