/* General Setting */
@import url(/Font/style.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: IRANSans-web;
  direction: rtl;
  user-select: none;
}
body {
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
section {
  margin: 30px 0;
}
/* Header */
header {
  background: linear-gradient(
    195deg,
    rgba(13, 71, 161, 1) 0%,
    rgba(30, 136, 229, 1) 100%
  );
  height: 700px;
}
/* Navbar */
header nav {
  max-width: 1100px;
  margin: auto;
  padding: 10px 0 0 0;
}
header nav #icon {
  width: 80px;
  border-radius: 100%;
  display: inline;
}
header nav ul {
  float: left;
}
header nav ul li {
  display: inline;
}
header nav ul li a {
  color: white;
  display: inline-block;
  padding: 10px 18px;
  font-size: 18px;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  transition: 0.25s;
}
header nav ul li a:hover {
  border-bottom: 2px solid white;
  transition: 0.25s;
}

/* Header Content */
header #header-con #tit-header {
  margin-top: 30px;
  text-align: center;
  color: white;
  font-size: 56px;
}
header #header-con #txt-header {
  margin-top: 20px;
  text-align: center;
  color: white;
  font-size: 22px;
}
header #header-con form {
  text-align: center;
  margin-top: 20px;
}
header #header-con form #email {
  border-radius: 5px;
  padding: 14px;
  width: 400px;
  border: none;
  margin-left: 10px;
}
header #header-con form #submit {
  color: white;
  background-color: #333;
  padding: 14px 35px;
  border: none;
  border-radius: 5px;
}
header #header-con form #submit:hover {
  cursor: pointer;

  -webkit-box-shadow: 5px 5px 25px 3px rgba(51, 51, 51, 0.41);
  box-shadow: 5px 5px 25px 3px rgba(51, 51, 51, 0.41);
}
header #header-con span {
  margin-top: 30px;
  display: block;
  color: white;
  text-align: center;
  font-size: 14px;
}
header #header-img {
  margin: auto;
  display: block;
  margin-top: 40px;
}

/* Content */
main {
  margin-top: 250px;
}
main #mini-divs {
  width: 1100px;
  margin: auto;
  margin-bottom: 50px;
}
main #mini-divs div {
  display: inline-block;
  margin: 15px;
  padding: 20px;
  width: 30%;
  height: 200px;
  border-radius: 22px;
  background: #ffffff;
  box-shadow: -5px 5px 10px #c2c2c2, 5px -5px 10px #ffffff;
  transition: 0.3s;
}
main #mini-divs div:hover {
  border-radius: 22px;
  background: #ffffff;
  box-shadow: -5px 5px 22px #c2c2c2, 5px -5px 22px #ffffff;
}
main #mini-divs div i {
  color: rgba(13, 71, 161, 1);
}
main #mini-divs div h1 {
  font-size: 20px;
  margin: 5px 0;
}
main #mini-divs div p {
  font-size: 14px;
}

main #back-img {
  background-image: url(/Course/img/beach_cloud_dawn_horizon_horizontal_landscape_ocean_601821.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 200px;
  text-align: center;
  padding: 20px;
}
main #back-img h1 {
  font-size: 38px;
  color: black;
  margin-bottom: 20px;
}
main #back-img ul li {
  display: inline;
  margin: 10px 20px;
}
main #back-img ul li:hover{
  opacity: 0.7;
}


main #contents {
  width: 1100px;
  margin: auto;
  margin-bottom: 40px;
}
main #contents h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
}
main #contents #box {
  width: 30%;
  display: inline-block;
  margin: 15px;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: -5px 5px 16px #bfbfbf, 5px -5px 16px #ffffff;
  transition: 0.2s;
}
main #contents #box:hover {
  border-radius: 5px;
  background: #ffffff;
  box-shadow: -6px 6px 28px #bfbfbf, 6px -6px 28px #ffffff;
}
main #contents #box img {
  width: 100%;
  height: 200px;
}
main #contents #box div {
  padding: 3px 5px;
}
main #contents #box div h3 {
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 30px;
}
main #contents #box div h3 a{
  color: #333;
}
main #contents #box div #read {
  float: left;
  font-size: 14px;
  color: #333;
}
main #contents #box div span {
  font-size: 14px;
  color: #333;
}

/* Footer */
footer #icons {
  text-align: center;
  background-color: #dfdfdf;
  padding: 10px 0;
  margin: 0;
}
footer #icons i {
  color: #333;
  margin: 0px 5px;
  font-size: 40px;
}
footer #icons i:hover{
  color: black;
}
footer p {
  padding: 5px;
  text-align: center;
  background-color: #333;
  color: #ffffff;
  font-size: 14px;
}
footer p b {
  font-size: 16px;
}
