/* @iliymans */
/* General Setting */
@import url(/font/style.css);
* {
  padding: 0;
  margin: 0;
  font-family: IRANSans;
  box-sizing: border-box;
  user-select: none;
}
body {
  width: 1200px;
  margin: auto;
  padding-top: 20px;
  direction: rtl;
  background-color: whitesmoke;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.clear {
  clear: both;
}
ul {
  list-style-type: none;
}

/* @iliymans */
/* Header */
header {
  position: relative;
}
header .icon {
  width: 100px;
  border-radius: 100%;
  margin-bottom: 10px;
}
header .info {
  display: inline-block;
  bottom: 50px;
  position: relative;
  margin: 10px;
}
header .info h1 {
  font-size: 20px;
  margin-bottom: 5px;
}
header .info h3 {
  font-size: 15px;
  font-weight: 400;
}
header .info2 {
  position: absolute;
  left: 0;
  top: 40px;
}
header .info2 .same {
  color: white;
  padding: 8px 15px;
  border-radius: 3px;
  border: none;
  font-size: 14px;
}
header .info2 .btn {
  background-color: rgb(60, 60, 253);
  font-family: IRANSans;
}
header .info2 .btn2 {
  background-color: rgb(24, 163, 24);
  font-family: IRANSans;
}
header .info2 .btn:hover {
  background-color: rgb(0, 0, 255);
}
header .info2 .btn2:hover {
  background-color: rgb(1, 139, 1);
}

/* @iliymans */
/* NavBar */
nav {
  background-color: rgb(40, 59, 59);
  direction: rtl;
  margin-bottom: 20px;
  border-radius: 3px;
}
nav ul li {
  display: inline;
}
nav ul li a {
  text-decoration: none;
  padding: 10px 15px;
  font-size: 16px;
  color: white;
  display: inline-block;
  transition: 0.15s;
  margin: 0;
  font-family: IRANSans;
}
nav ul li a:hover {
  background-color: rgb(79, 87, 87);
}

/* @iliymans */
/* Content */
main {
  float: right;
  width: 850px;
}
section {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 30px;
  position: relative;
  right: 0;
  display: inline-block;
  top: 0;
}
section h1 {
  padding: 15px;
  border-bottom: 2px dashed #ccc;
}
section p {
  padding: 5px;
  font-size: 14px;
}
section .img-div {
  float: right;
  padding: 10px;
  padding-right: 0;
}
section .img-div img {
  border: 1px solid #ccc;
}
section .info {
  background-color: whitesmoke;
  border-top: 1px solid #ccc;
  margin-top: 25px;
  padding: 8px;
}
section .info span {
  font-size: 14px;
  color: #333;
  text-align: right;
}
section .info .btn {
  float: left;
  font-size: 12px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px 8px;
}
section .info .btn:hover {
  background-color: black;
}

/* @iliymans */
/* Sidebar */
aside {
  float: left;
  width: 300px;
}
aside .sidebar-item {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 20px;
}
aside .sidebar-item .sidebar-heading {
  background-color: #333;
  padding: 5px;
  border-radius: 3px 3px 0 0;
}
aside .sidebar-item .sidebar-heading h1 {
  color: white;
  font-size: 15px;
  text-align: center;
}
aside .sidebar-item .sidebar-content {
  padding: 15px;
  border: none;
}
aside .categories .sidebar-content ul li a {
  color: black;
  border-right: 2.7px solid black;
  margin-top: 10px;
  display: inline-block;
  padding-right: 5px;
  font-size: 14px;
  transition: 0.25s;
}
aside .categories .sidebar-content ul li a:hover {
  border-right: 3.7px solid black;
  margin-right: 5px;
}
aside .newsletter {
  text-align: center;
}
aside .newsletter .sidebar-content p {
  font-size: 13px;
  text-align: center;
  margin: 0 auto 5px auto;
}
aside .newsletter .sidebar-content .email {
  width: 90%;
  margin-top: 5px;
}
aside .newsletter .sidebar-content .submit {
  background-color: green;
  padding: 5px 12px;
  color: white;
  border-radius: 3px;
  border: none;
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  cursor: pointer;
}
aside .newsletter .sidebar-content .submit:hover {
  background-color: rgb(2, 83, 2);
}
/* @iliymans */
/* Footer */
footer {
  background-color: rgb(40, 59, 59);
  padding: 10px;
}
footer p {
  color: white;
  text-align: center;
}
footer .diff {
  direction: ltr;
}

/* @iliymans */
