/* @iliymans */

/* General Setting */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}


/* Login Form */
form {
  width: 400px;
  margin: 150px auto;
  background-color: white;
  border-radius: 3px;
  padding: 30px;
  position: relative;
}
form h1 {
  color: rgb(0, 132, 255);
  margin-bottom: 20px;
}
form label {
  margin-bottom: 10px;
}
form .input {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #e2e2e2;
  border: none;
  outline: none;
  border-radius: 3px;
  margin-top: 5px;
}
form .input:focus{
  background-color: #cecdcd;
}
form #submit {
  padding: 10px;
  border-radius: 3px;
  border: none;
  width: 100%;
  background-color: #0084ff;
  color: white;
  margin-top: 10px;
  font-size: 16px;
}
form #submit:hover{
  background-color: #027aeb;
  cursor: pointer;
}
form i{
  position: absolute;
  bottom: 105px;
  right: 40px;
  opacity: 0.6;
}
form i:hover{
  opacity: 0.8;
}
